.signup-container {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
}

.signup-form {
  background-image: linear-gradient(
    to bottom right,
    rgba(6, 95, 70, 0.7),
    rgba(0, 0, 0, 0.7),
    rgba(31, 41, 55, 0.7)
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  padding: 2.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 28rem;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.signup-title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.error-message {
  margin-bottom: 1rem;
  text-align: center;
  color: #fca5a5;
  font-weight: 600;
}

.form-label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.form-input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #9ca3af;
  color: black;
  border: none;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #065f46;
  color: white;
  font-weight: 600;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #047857;
}

.submit-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}